.config{
    width:75%;
    margin: auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    background-position: center;
    
   
}
.cara .ojos .pelo .boca{
    width:100px;
    height: 100px;
    
}