.superponer{
    position: absolute;
    background-position: center;
    padding-top: 20%;
    padding-left: 10%;


}
.superponer-edicion{
    position: absolute;
    background-position: center;
    width:750px;
    height: 750px;
}
.divAv{
    padding-right: 50%;
}