#topFlex, #bottomFlex {
    margin-top: 2%;
}

#topFlex {
    height: 350px;
}

#editor, #previous {
    text-align: center;
    height: 200px;
}

#editor {
    top: 20%;
}

#previous {
    height: 220px;
    width: 50%;
    margin-top: 2%;
    margin-left: 2%;
    top: 50%;
    overflow-x: auto;
}

#buttons {
    margin-top: 5%;
}