#topFlex, #bottomFlex {
    margin-top: 2%;
}

#topFlex {
    height: 350px;
}

#previous {
    height: 175px;
    width: 50%;
    overflow-x: scroll;
}

#editor, #previous {
    text-align: center;
    top: 50%;
    height: 200px;
}

#buttons {
    margin-top: 5%;
}