.elementsFlex {
    margin-top: 2%;
    padding-left: relative;
    position: relative;
    width: auto;
}

.savedCard {
    height: 135px;
    width: 125px;
    margin-left: 5px;
    margin-right: 5px;
    padding-right: 140px;
}

.savedBase, .savedHair, .savedShirt, .savedBeard {
    height: 100px;
    width: 100px;
    position: absolute;
    background-position: center center;
}

.selectButtonContainer {
    text-align: center;
}

.selectButton {
    margin-top: 3%;
    position: absolute;
}