#elementsFlex {
    margin-top: 2%;
}

.savedCard {
    height: 125px;
    width: 125px;
    margin-right: 90px;
}

.savedBase, .savedHair, .savedShirt, .savedBeard {
    height: 100px;
    width: 100px;
    position: absolute;
    background-position: center center;
}

.selectButtonContainer {
    text-align: center;
}

.selectButton {
    position: absolute;
}