table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed ;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    cursor: pointer;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .card-body {
    text-align: center;
  }

  .card-header {
    text-align: center;
  }

  .buttonsSelectPlayoff {
    overflow-x:auto;
  }