*{
    font-family:Verdana;
    margin:0;
    padding:0
}

body{
    background-image:url(images/pasto3.jpg)
}

a{
    color:#000
}

#contenido{
    background:url(images/fondo.jpg);
    margin:5px auto auto;
    min-height:600px;
    padding-bottom:100px;
    width:980px}

#banner{
    height:50px;
    padding-left:10px;
    width:970px
}

.red{
    background-image:url(images/red.png)
}

.verdegrande{
    background:#17573d;
    border-bottom:1px outset silver;
    border-top:1px outset silver;
    color:#FFF;
    display:block;
    font-size:24px;
    padding:3px;
    text-align:center;
    text-shadow:#000 .1em .1em .1em
}

#menu{
    width:980px
}
.jugandose,.finaliza,.falta{
    background:#155219;
    color:#FFF;
    font-family:Arial;
    padding-left:2px;
    text-align:center;
    text-shadow:#000 .1em .1em .1em;
    width:52px
}

.jugandose{
    background:#820300
}

.finaliza{
    background:#222
}

.cajaitem{
    float:left;
    width:138px
}

#ficha,#vivo{
    background:#155219;
    color:#FFF;
    cursor:pointer;
    float:left;
    font-size:9px;
    line-height:11px;
    text-align:center;
    text-shadow:.1em .1em .1em #000;
    width:40px
}

#vivo{
    background:red
}

.datosequipo{
    color:#FFF;
    font-size:12px;
    font-weight:700;
    text-shadow:#000 .1em .1em .1em
}

.datosequipo2,.datosequipo2b,.datosequipo2g{color:#c2e213;font-size:10px;font-weight:700}
.datosequipo2b{color:#FFF}
.datosequipo2g{font-size:14px}
.datosequipo6{color:#000;font-size:10px;font-weight:700}
.datosequipo3{color:#000;font-size:11px}
#barra{background:#031105;border-left:2px outset grey;border-right:2px outset grey;border-top:2px outset grey;bottom:0;height:30px;position:fixed;width:976px;z-index:999}
.titulo,.titulo2,.titulo3{color:#FFF;display:block;font-size:11px;font-weight:700;padding:2px;text-align:center}
.titulo{background:#17573D}
.titulo2{background:#060d4e}
.titulo3{background:#56146f}
.paginacion{color:#FFF;font-size:11px;font-weight:700}
.paginacion a{color:#C2E213;text-decoration:none}
.fondonegro{background:#0b2e1e;color:#FFF;display:block;font-size:11px;padding:5px;text-align:center}
.itemmenu{background:#0b2e1e;color:#c2e213;display:block;font-family:Verdana;font-size:12px;font-weight:700;margin-left:10px;margin-top:5px;padding:5px;text-align:center}
.subitem a{color:#FFF;display:block;font-size:12px;font-weight:700;margin-top:1px;padding-bottom:2px;padding-top:2px;text-decoration:none}
.subitem a:hover{background:#8fa60e;color:#FFF}
#arribanews{background:#e0e0e0;height:400px;width:520px}
#arribanews2{background:#e0e0e0;height:450px;width:520px}
#todonews{float:left;margin-left:5px;width:530px}
.verdegrande a{background:none repeat scroll 0 0 #0E3A26;color:#C2E213;font-size:12px;font-weight:700;line-height:20px;padding:1px 5px;text-align:center;text-decoration:none}
.boton2 a,.boton a,.boton,.boton3{background:#0e3a26;border:1px outset grey;color:#c2e213;cursor:pointer;font-size:14px;font-weight:700;padding:10px;text-decoration:none}
.boton a{font-size:12px;font-weight:700;padding:3px;text-decoration:none}
.boton3{font-size:11px;padding:3px}
.boton:hover,.boton a:hover,.boton3:hover,.boton3 a:hover,.boton2:hover,.boton2 a:hover{background:#8fa60e;color:#000}
.tooltip{background:#17573D;border:1px outset silver;color:#FFF;display:none;font-size:11px;left:0;padding:10px;position:absolute;text-shadow:#000 .1em .1em .1em;top:0;z-index:3}
.ordenar{color:#FFF;font-family:Arial;font-size:9px}
.infoprevia{color:#E1F130;font-size:11px;font-weight:700}
#resultadosfecha{float:left;font-size:11px;height:450px;margin-left:15px;margin-top:10px;overflow:auto;width:260px}
#prodegeneral{float:left;font-size:11px;height:450px;margin-left:15px;margin-top:10px;overflow:auto;width:260px}
.infoprevia2{color:#FFF;font-size:11px;font-weight:700}
.infoprevia3{color:#FFF;font-size:12px;font-weight:700}
.negritas{color:#000;font-size:12px;font-weight:700;margin-bottom:5px}
.verde{background:#16563b;color:#FFF;font-size:11px}
#loscomentarios{background:#082017;height:463px;overflow:auto;width:640px}
#loscomentarios2{background:#082017;height:400px;overflow:auto;width:420px}
#todoscomentarios{background:#092418;min-height:550px;width:620px}
#cajatexto{background:#092418;color:#FFF;float:left;font-size:12px;margin-bottom:10px;margin-left:20px;min-height:200px;padding:10px;text-align:center;width:290px}
#estadisticastorneo{background:#092418;color:#FFF;float:left;font-size:12px;margin-top:6px;padding:10px;text-align:center;width:210px}
#columna1{float:left;width:210px}
#footer{background:url(images/fondo.jpg);height:55px;margin:auto auto 55px;text-align:center;width:980px}
#tophinchadas{background:#e5e5e5;width:145px}

#infoequipo,#infoequipo5{
    background:#092418;
    color:#FFF;
    font-size:15px;
    line-height:17px;
    margin-bottom:20px;
    text-align:center;
}

#infoequipo5{
    background:none;
    font-size:14px
}

#estadio{background:#092418;color:#FFF;float:left;font-size:11px;height:450px;margin-left:14px;text-align:center;width:400px}
#partidos{color:#FFF;float:left;font-size:11px;margin-left:5px;margin-top:20px;width:410px}
#vergoles{background-image:url(http://lh6.ggpht.com/-6ougf-_vTEk/UZBxIUNsbiI/AAAAAAAAAVY/hBfV1oRndiU/s70/vergoles.gif);cursor:pointer;float:left;height:16px;width:70px}
#campeonatos td{border-top:1px outset grey;height:30px}
#datostabla{background:#092418;color:#FFF;float:left;font-size:11px;margin-left:15px;margin-top:20px;padding-bottom:10px;width:420px}
.infotabla{color:#FFF;display:block;font-size:10px;font-weight:700;line-height:15px;padding:5px;text-align:left}
#elcomentario{background:#EDEDED;margin-bottom:5px;margin-left:10px;margin-top:5px;min-height:105px;width:600px}
#comignorado{background:#EDEDED;color:#000;font-size:12px;height:40px;margin-bottom:5px;margin-left:10px;margin-top:5px;padding-top:5px;text-align:center;width:600px}
#torneohistorial{background:#E5E5E5;float:left;margin-left:7px;margin-top:20px;padding-bottom:10px;text-align:center;width:740px}
#tablaptshistorial,#tablapromhistorial,#tablaptsactual{color:#111;float:left;font-family:verdana;font-size:12px;margin-left:10px;width:390px}
#tablapromactualprim,#tablapromactualbn{color:#000;float:left;font-family:verdana;font-size:12px;margin-left:4px;width:370px}
#tablapromproxprim,#tablapromproxbn{color:#000;float:left;font-family:verdana;font-size:12px;margin-left:9px;width:350px}
#tablahistorica{color:#000;float:left;font-family:verdana;font-size:12px;margin-left:6px;width:810px}
#tablaptsactualb{color:#000;float:left;font-family:verdana;font-size:12px;margin-left:10px;width:420px}
#grupos{color:#000;float:left;font-family:verdana;font-size:12px;margin-left:10px;width:970px}
#grupo{color:#000;float:left;font-family:verdana;font-size:12px;margin-left:5px;margin-top:12px;width:420px}
#fixtureactual,#fixtureactualb,#fixtureactualbm,#fixtureactualsel,#fixtureactualarg1,#fixtureactualarg2,#fixtureactualarg9{background:#85a094;color:#111;float:left;font-family:verdana;font-size:12px;font-weight:700;margin-left:15px;width:480px}
#fixtureactualsel{margin-left:3px;margin-top:30px;width:430px}
#fixgrupo{color:#111;float:left;font-family:verdana;font-size:11px;font-weight:700;width:960px}
#fixrepe{background:#e0e0e0;color:#111;font-family:verdana;font-size:11px;font-weight:700;margin:auto;width:800px}
#logobanner{float:left;height:70px;width:600px}
#fechahist{background:#e0e0e0;float:left;height:315px;margin-left:15px;margin-top:20px;width:305px}
#formcalcular,#formcalcularb,#formcalcularbm{border:1px outset grey;color:#FFF;float:left;font-size:10px;font-weight:700;margin-left:3px;width:255px}
#formcalcular3,#formcalcular3b,#formcalcular8,#formcalcular3bm{border:1px outset grey;color:#FFF;float:left;font-size:10px;font-weight:700;margin-left:3px;width:240px}
#tablaprode{background:#85a094;border:1px solid #000;color:#111;float:left;font-family:verdana;font-size:12px;font-weight:700;margin-left:10px;margin-top:10px;min-height:400px;text-align:center;width:400px}
#p160x600{float:left;height:600px;margin-left:5px;width:160px}
#p728x90{height:90px;width:728px}
#p120x600{float:right;height:600px;width:120px}
#p300x250{float:left;height:250px;margin-left:10px;width:300px}
#p200x200{float:left;height:200px;margin-bottom:5px;margin-top:5px;width:200px}
#p468x60{height:60px;width:468px}
#flechaatrno,#flechaadno{background:#092b1d;cursor:pointer;float:left;height:50px;width:50px}
#flechaad,#flechaatr,#flechaad2,#flechaatr2,#flechaad3,#flechaatr3,#flechaad4,#flechaatr4,#flechaad5,#flechaatr5{background:url(images/flecha2.png);cursor:pointer;float:right;height:50px;width:50px}
#flechaatr,#flechaatr2,#flechaatr3,#flechaatr4,#flechaatr5{background:url(images/flecha1.png);float:left}
#promtv,#promtvb{background:#092c1c;float:right;margin-right:6px;width:468px}
#escudequipo1{float:left}
#laprevia{color:#FFF;font-size:14px}
.nombretorneo{color:#000;font-size:14px;font-weight:700}
.nombreyclub{background:#e0e0e0;float:left;font-size:11px;font-weight:700;margin-right:10px;min-height:40px;padding:5px;text-align:center;width:100px}
.horariopartido{color:#FFF;font-family:Arial;font-size:12px;text-shadow:#000 .1em .1em .1em}
.horariopartido2{color:#FFF;font-family:Arial;font-size:10px}
.statuspartido2{background:#222;color:#FFF;font-family:Arial;font-size:11px;padding-left:3px;padding-right:3px}
.mensaje,.mensaje2{color:#000;font-size:12px;margin-left:10px;margin-right:10px;min-height:40px;padding:5px;width:550px}
.mensaje2{width:370px}
.fechayhora{font-size:8px;font-weight:700}
.numcom{color:#000;font-size:10px;font-weight:400}
.vote{color:#000;font-size:11px;text-decoration:none}
.tarr{color:#8DDCB5}
.tabb{color:#ff9196}
td{height:21px;padding:0 2px}
#irfecha{background:#092b1d;color:#FFF;cursor:pointer;display:block;float:left;font-size:12px;margin:2px;padding:2px}
.diasemana{background:#17573D;border:1px outset silver;color:#FFF;float:left;font-size:16px;font-weight:700;margin-left:10px;margin-top:10px;text-align:center;width:127px}
.eldia{background:#81a209;border:1px outset silver;color:#FFF;display:block;font-size:20px;font-weight:700;text-align:center}
.expand-down,.expand-down2{font-family:Arial, Helvetica, sans-serif;height:65px;line-height:normal;margin:10px auto auto;width:830px}
.expand-down ul,.expand-down2 ul{padding-top:10px}
.expand-down ul li,.expand-down2 ul li{float:left;list-style-type:none}
.expand-down ul li a,.expand-down2 ul li a{text-decoration:none}
.expand-down ul li a img{border:none;height:40px;width:40px}
.expand-down2 ul li a img{border:none;height:38px;width:38px}
.expand-down ul li span,.expand-down2 ul li span{display:none}
.expand-down ul li:hover span,.expand-down2 ul li:hover span{color:#000;display:block;font-size:14px;text-align:center}
.expand-down ul li:hover a img,.expand-down2 ul li:hover a img{height:50px;width:50px}
th{cursor:pointer}
#tablaptsactual,#tablacopas{color:#000;float:left;font-family:verdana;font-size:12px;margin-left:10px;width:390px}
#fixtureactual td,#fixtureactualb td,#fixtureactualbm td,#fixtureactualsel td,#fixtureactualarg1 td,#fixtureactualarg2 td,#formcalcular td,#formcalcularb td,#formcalcularbm td,#formcalcular3 td,#formcalcular3b td,#formcalcular8 td,#formcalcular3bm td{padding:0}
#fixgrupo td,#fixrepe td{height:16px;padding:0}
#flechaadno,#escudequipo2{float:right}
.headersortup,#headersortdown,#headersortup,.headersortdown{background:#408080}
.resu {background: white;width:7%;text-align: center; font-size:14px;}
a img { border: 0 }
@media screen\0 {   #ficha,#vivo{text-shadow:none;width:33px;font-size:9px} }
#newmenu, #newmenub {float:left;margin-left:10px;width:150px;text-align: center;}
#newmenunav1, #newmenunav2  { padding-top:3px;padding-bottom:3px;font-size:14px;}
#newmenunav1, #newmenunav1 a  { background:#213b0a; color: #c2e213;text-decoration: none;text-shadow: 1px 1px black;display:block }
#newmenunav2, #newmenunav2 a { background:#254d01; color: #c2e213;text-decoration: none;text-shadow: 1px 1px black;display:block }
#newmenutitle, #newmenutitleb { text-align:center;width:150px;font-size:18px;background:#102100;color:white;text-shadow: 1px 1px black; }
#newmenutitleb, #newmenub {width:170px}
#newmenuboton1 { float:left;margin-left:10px;text-align:center;width:140px;}
#newmenuboton2 { margin-top:10px;float:left;margin-left:10px;text-align:center;width:140px;}
#newmenuboton1 a, #newmenuboton2 a { background:#538923;color:white;text-shadow: 1px 1px black;text-decoration: none;display:block;padding-top:5px;padding-bottom:5px; }