@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
body {
  font-family: Montserrat, sans-serif;
}

#features {
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 3rem 0;
}

.features-inner {
  padding: 2rem;
}
@media (min-width: 600px) {
  .features-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 0;
  }
}
@media (min-width: 800px) {
  .features-inner {
    grid-template-columns: 1fr 2fr;
  }
}
@media (min-width: 900px) {
  .features-inner {
    grid-template-columns: repeat(3, 1fr);
    max-width: 1000px;
    margin: 0 auto;
  }
}

.features-image {
  text-align: center;
  margin-bottom: 2rem;
  position: relative;
}

.estampa-style {
  position: absolute;
  bottom: 90px;
  left: 100px;
  width: 120px;
}
@media (min-width: 600px) {
  .features-image {
    grid-row: 1/span 2;
  }
}
@media (min-width: 900px) {
  .features-image {
    grid-column: 2;
  }
}
.features-image img {
  -webkit-filter: drop-shadow(1px 1px 20px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(1px 1px 20px rgba(0, 0, 0, 0.4));
}

.features-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.features-item {
  transition: opacity 200ms ease;
}
.features-item:hover {
  opacity: 0.7;
  cursor: pointer;
}

.features-item-header,
.features-item-text {
  color: white;
}

.features-item-header {
  margin-bottom: 0;
  margin-top: 30px;
  font-size: 1.4rem;
}

.features-item-text {
  margin-top: 2rem;
}

.case-options{
  margin-top: 20px;
}

.colors{
  margin-top: 20px;
}

.images-options{
  margin-top: 20px;
}

.save-changes{
  margin-top: 20px;
}

@media (min-width: 900px) {
  .list-1 {
    text-align: right;
  }
}
@media (min-width: 600px) {
  .list-2 {
    grid-column: 2;
  }
  .list-2 .features-item-header:first-child {
    margin-top: 0;
  }
}
@media (min-width: 900px) {
  .list-2 {
    grid-column: 3;
  }
  .list-2 .features-item-header:first-child {
    margin-top: 1.45rem;
  }
}
