.stampa-big{
    position:absolute;
    height:150px;
    width:200px;
    top: 150px;
    left : 215px;
    z-index: 1;
  }
  
  .remera-big{
    position:absolute;
    width:550px;
    height:500px;
    z-index: -1;
  }

  .stampa-small{
    position:relative;
    height:70px;
    width:70px;
    z-index: 1;
  }
  
  .remera-small{
    position: relative;
    width:70px;
    height:70px;
    margin: 20px;
    z-index: -1;
  }