/* Estilo post header y pre body*/
.partido {
    float:  left;
    width:193px;
    font-size:11px;
    font-weight: bold;
}

.partido2 {
    float:  left;
    width:193px;
    font-size:10px;
    font-weight: bold;
}

.diasemana {
    width:180px;
}

.partido td, .partido2 td {
    height:18px;
}

.diapartido {
    background: none repeat scroll 0 0 #04270C;
    border: 1px outset silver;
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
    text-align: center;
    width: 212px;
    color: #C2E213;
}

.finaliza, .jugandose, .falta {
    font-size: 12px; 
}

.jugandose2, .finaliza2, .falta2 {
    background: #155219;
    width: 52px;
    font-family: Arial;
    padding-left:3px;
    padding-right:3px;
    text-align: center;
    color:white;
    text-shadow:black 0.1em 0.1em 0.1em;  
}
.jugandose2 {
    background:#820300;
}

.finaliza2 {
    background:#222;
}

.faseant {
    width:600px;
    font-size:10px;
    color: black;
    background: white
}

.cuadrores, .cuadrores2 {
    text-align: center;
    background:#04270c;
    color:white;
    border:1px solid green;
    padding-left:5px;
    padding-right:5px
}

.cuadrores2 {
    background:white;
    color:black;
}

#fixture {
    width:980px;
    font-size:11px;
    color: white;
}

#columna {
    float: left;
    width: 107px;
    min-height: 500px;
}

#columna2 {
    float: left;
    width: 2px;
    min-height: 500px;
}

#partido, #partido2, #partido3, #partido3b {
    width: 100px;
    padding: 2px;
    text-align: center;
    background: #066329;
    height:90px;
    margin-top:7px;
    margin-bottom:7px;
    clear:both;
}

#partido2 {
    margin-bottom:25px;  
}

#partidono, #partidono2{
    width: 90px;  
    height:40px;
    padding: 2px;
    margin-top:7px;
    margin-bottom:7px;
    clear:both
}

#partidono2 {
    margin-bottom:25px; 
    clear:both 
}


#linea1  {
    border-right:2px solid yellow;
    border-top: 2px solid yellow;
    height: 20px;
    width: 45px;
    clear:both;
}

#linea1b  {
    border-left:2px solid yellow;
    border-top: 2px solid yellow;
    height: 20px;
    width: 45px;
    float:right;
    clear:both;
    margin-bottom:7px;
}

#linea2 {
    border-bottom:2px solid yellow;
    border-right: 2px solid yellow;
    height: 20px;
    width: 45px;
    clear:both;
}

#linea2b {
    border-bottom:2px solid yellow;
    border-left: 2px solid yellow;
    height: 20px;
    width: 45px;
    float:right;
    clear:both;
}

#linea3 {
    border-right:2px solid yellow;
    border-top: 2px solid yellow;
    height: 110px;
    width: 45px;
    clear:both;
}

#linea3b {
    border-left:2px solid yellow;
    border-top: 2px solid yellow;
    height: 110px;
    width: 45px;
    float:right;
    clear:both;
    margin-bottom:7px;
}

#linea4 {
    border-bottom:2px solid yellow;
    border-right: 2px solid yellow;
    height: 110px;
    width: 45px;
    clear:both;
}

#linea4b {
    border-bottom:2px solid yellow;
    border-left: 2px solid yellow;
    height: 110px;
    width: 45px;
    float:right;
    clear:both;
}

#linea5 {
    border-right:2px solid yellow;
    border-top: 2px solid yellow;
    height: 330px;
    width: 45px;
    clear:both;
}

#linea5b {
    border-left:2px solid yellow;
    border-top: 2px solid yellow;
    height: 330px;
    width: 45px;
    float:right;
    clear:both;
    margin-bottom:7px;
}

#linea6 {
    border-bottom:2px solid yellow;
    border-right: 2px solid yellow;
    height: 330px;
    width: 45px;
    clear:both;
}

#linea6b {
    border-bottom:2px solid yellow;
    border-left: 2px solid yellow;
    height: 330px;
    width: 45px;
    float:right;
    clear:both;
}

.fecha {
    font-size:10px
}

.cuadrores3 {
    float: left;
    text-align: center;
    background:#04270c;
    color:white;
    border:1px solid green;
    padding:2px;
    margin-top:3px;
    font-size:12px;
}

#fixtureactual {
    background:  #092b1d;
}

.falta {
    font-size:12px
}

.nombreyclub {
    color: black
}

#irfecha2 {
    color: greenyellow;
    float: left;
    margin-left:20px;
    padding: 10px;
    background: #092b1d;
    font-size: 16px;
    cursor: pointer;
}

#fixturein {
    width: 420px;
    margin: auto;
    background: #85a094;
    color: #111;
    font-family: verdana;
    font-size: 12px;
    font-weight: bold;
}

.resu {
    background: white;width:7%;text-align: center; font-size:14px;
}

#canchas {
    background:#222;text-align: center;color:white;font-size:9px;height:15px
}

#infoequipo {
    background: green;
}

/* Estilo dentro del body */
#newmenu, #newmenub {
    float:left;
    margin-left:10px;
    width:150px;
    text-align: center;
}

#newmenunav1, #newmenunav2  { 
    padding-top:3px;
    padding-bottom:3px;
    font-size:14px;
}

#newmenunav1, #newmenunav1 a  { 
    background:#213b0a; 
    color: #c2e213;
    text-decoration: none;
    text-shadow: 1px 1px black;
    display:block 
}

#newmenunav2, #newmenunav2 a { 
    background:#254d01; 
    color: #c2e213;
    text-decoration: none;
    text-shadow: 1px 1px black;
    display:block 
}

#newmenutitle, #newmenutitleb { 
    text-align:center;
    width:150px;
    font-size:18px;
    background:#102100;
    color:white;
    text-shadow: 1px 1px black; 
}

#newmenutitleb, #newmenub {
    width:170px
}

#newmenuboton1 { 
    float:left;
    margin-left:10px;
    text-align:center;
    width:140px;
}

#newmenuboton2 { 
    margin-top:10px;
    float:left;
    margin-left:10px;
    text-align:center;
    width:140px;
}

#newmenuboton1 a, #newmenuboton2 a { 
    background:#538923;
    color:white;
    text-shadow: 1px 1px black;
    text-decoration: none;
    display:block;
    padding-top:5px;
    padding-bottom:5px; 
}
