
  img.logoGrande{
    width: 375px;
    height: 359px;
  }

  img.medio{
    position:absolute;
    width: 550px;
    height: 550px;
  }
 
  img.donasChicas{
    position:absolute;
    width: 350px;
    height: 350px;
  }

  img.fondoImg{
    position:static;
    width: 50px;
    height: 50px;
  }

  #box {
    display: block;
    position: relative;
  }

  img.donasbotones{
    width: 75px;
    height: 75px;
  }

  img.donasboton{
    position: absolute;
    width: 75px;
    height: 75px;
  }

  .donutboton2{
    width: 75px;
    height: 75px;
    
  }

  .fondo{
      background: #F4F6F6;
  }

  .colorbienvenido{
    color: #F4F6F6;
}
