
  img.grande{
    width: 375px;
    height: 359px;
  }

  img.medio{
    position:absolute;
    width: 550px;
    height: 550px;
  }

  img.medioSabor{
    position: absolute;;
    width: 550px;
    height: 550px;
  }

  img.chico{
    position:absolute;
    width: 350px;
    height: 350px;
  }

  #box {
    position: relative;
  }

  img.donasbotones{
    width: 75px;
    height: 75px;
  }

  .fondo{
      background: #F4F6F6;
  }

  .colorbienvenido{
    color: #F4F6F6;
}
