.myButton{
	width: 100%;
	height: 30px;
	line-height: 10px;
	text-align: center;
}

.myDiv{
	width: 230px;
}

.myTitle{
	margin-bottom: 0px;
	font-size: 20px;
	text-align: center;
}

.Content
{
	float:right;
  	padding:3px; 
  	height:224px;
   	overflow:auto;
    background:#fff;
}

.cuartos{
	margin-bottom: 120px;
}

.semis{
	margin-bottom: 180px;
}

.final{
	margin-bottom: 210px;
}

.bg {
	background:#5FCB48;
  }