body
{
  background-color: whitesmoke;
}

.panelBotones{
    display: inline-block;
    width: 250px;
    height: 50px auto;
    text-align: center;
}
.Botones{
    width: 10px;
    height: auto;
    text-align: center;
    margin: auto;
    display: inline-block;
    margin-left: 50px;
}
.Botones{
    width: 10px;
    height: auto;
    text-align: center;
    margin: auto;
    display: inline-block;
    margin-left: 50px;
}
.PanelImagen{
    background-size: 30px;
    size: 30px;
    text-align: center;
    width: 200px;
    height: 200px auto;
}
.imagen{
    width: 500px; 
    height:500px;
}

.TituloSeccion{
    font-family: 'Abel', sans-serif;
    font-size: 20px;
}

.BotonGeneral
{
    text-decoration: none;
    padding: 5px;
    font-weight: 30;
    font-size: 15px;
    color: #ffffff;
    background-color: #657e8f;
    border-radius: 6px;
    border: 2px solid #777ca7;
    margin-top: 10px;
}
.BotonGeneral:hover{
    color: #1883ba;
    background-color: #ffffff;
}

.panelControlador
{
    display: block;
    width: 250px;
    height: 50px auto;
    text-align: center;
}
.titulo{
    font-family: 'Lora', serif;
    font-size: 30px;
}
.tituloEliminarEditar{
    font-family: 'Lora', serif;
    font-size: 40px;
    text-align: center;
}

.panelModificar
{
    text-align: center;
    display: block;
}
.botonModificar
{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}
.botonModificar:hover{
    color: #1883ba;
    background-color: #ffffff;
}
