
.header {
      fontSize: mobile ? '2em' : '4em';
      fontWeight: 'normal';
      marginBottom: 0;
      marginTop: mobile ? '1.5em' : '3em';
      content:'Spoctor';
      inverted;
    }

.header2{
  fontSize: mobile ? '1.5em' : '1.7em';
  fontWeight: 'normal';
  marginTop: mobile ? '0.5em' : '1.5em';
}

h3{
  fontSize: '2em';
}

p{
  fontSize: '1.50em';
}

.a1{

  marginLeft: '0.5em';
}

.fondo{
    background-image: url("https://data2.1freewallpapers.com/detail/mike-scott-nba-playoffs-nba.jpg");
  }
